.forgotpassword {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #fce3fe;
  flex-wrap: wrap;
  padding: 20px;
  box-sizing: border-box;
}
.forgot-password-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  min-height: 400px;
  padding: 20px;
}
.forgot-password-left {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  line-height: 1.5;
}
.forgot-password-left h1 {
  font-size: 2.5rem;
  color: #8e44ad;
  margin-bottom: 20px;
}
.forgot-password-left p {
  font-size: 1.25rem;
  color: #333;
}
.forgot-password-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.forgot-password-right h2 {
  font-size: 2rem;
  color: #8e44ad;
  margin-bottom: 20px;
}
.forgot-password-right-form {
  display: flex;
  flex-direction: column;
}
.forgot-password-right-form label {
  margin-bottom: 10px;
  font-size: 1rem;
  color: #333;
}

.forgot-password-right-form input {
  padding: 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.forgot-password-right-form button {
  padding: 15px;
  font-size: 1.2rem;
  background-color: #8e44ad;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.forgot-password-right-form button:hover {
  background-color: rgb(119, 13, 135);
}
