
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  padding-right: 1rem;
  border-bottom: 1px solid #E5E7EB;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  min-width: 0;
}

.nav-logo img {
  max-height: 6.25rem;
  max-width: 100%;
}

.nav-logo p {
  color: rgb(38, 13, 146);
  font-size: 1.5625rem;
  font-weight: 500;
}
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 3.125rem;
  color: rgb(18, 85, 4);
  font-size: 1.25rem;
  font-weight: 400;
  min-width: 0;
  padding: 1rem;
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.1875rem;
  cursor: pointer;
}

.nav-menu hr {
  border: transparent;
  width: 80%;
  height: 0.1875rem;
  border-radius: 0.625rem;
  background-color: red;
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 2.8125rem;
  flex: 1;
  min-width: 0;
  padding: 1rem;
}

.nav-login-cart img {
  width: 2.5rem;
  height: 2.5rem;
}

.nav-login-cart button {
  width: 9.8125rem;
  height: 3.625rem;
  outline: none;
  border: 0.0625rem solid black;
  border-radius: 4.6875rem;
  color: rgb(38, 13, 146);
  font-size: 1.25rem;
  font-weight: 500;
  background: white;
  cursor: pointer;
}

.nav-login-cart button:active {
  background: gray;
}

.nav-cart-count {
  width: 1.375rem;
  height: 1.375rem;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: -1.5625rem;
  margin-left: -3.4375rem;
  background: red;
  color: white;
}
.customrequest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.125rem;
  font-weight: 600;
}

@media (max-width: 768px) {
  .nav-menu {
    flex-direction: column;
    gap: 0.625rem;
  }
  .customrequest {
    margin-bottom: 9.375rem;
  }
}

@media (min-width: 1200px) {
  .navbar {
    padding: 2rem;
    justify-content: space-between;
  }
  .nav-menu, .nav-login-cart {
    gap: 2rem;
  }
}