.contactpage {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  background-color: #fde9fe;
  flex-direction: column;
}
.contactpage-container {
  width: calc(100% - 150px);
  height: calc(100% - 80px);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  background-color: #e8d9e9;
  padding: 40px 60px;
}
.contactpage-container h1 {
  color: rgb(68, 68, 188);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.contact-help {
  color: black;
  font-size: 1.2rem;
  margin: 10px 0;
}
.contact-address {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.1rem;
  color: #666;
  gap: 10px;
}
.contact-address p {
  flex: 1 1 45%;
  margin: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

@media (max-width: 768px) {
  .contactpage-container {
    width: calc(100% - 40px);
    height: calc(100% - 80px);
  }
}
